<h1>This is a show site</h1>

<div class="title-show">
  <h3>Title</h3>
  <%= @article.title %>
</div>

<div class="text-show">
  <h3>Content</h3>
  <%= @article.text %>
</div>

<%= link_to "Back to home", articles_path %>
